
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-image: url(../images/siliconvalley.jpeg);
}

.btn {
    background-color: #dd1212;
    font-weight: bold;
    color: #ffffff;
}

.main {
    border: 2px solid #161515;
    margin-top: 40px;
    background-color: #fcfaf1;
}

#game-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Bowlby One SC', cursive;
    color: #dd1212;
    font-weight: bold;
}

#timer {
    margin-bottom: 20px;
}

.btn {
    background-color: #dd1212;
    font-weight: bold;
    color: #ffffff;
    width: 50%;
}

#trivia-answers {
    margin-top: 30px;
    margin-bottom: 70px;
}

#correct-answer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.gifs {
    margin-top: 10px;
    margin-bottom: 74px;
    width: 400px;
    height: 225px;
}

#start-game, #play-again {
    margin-top: 50px;
    margin-bottom: 92px;
    
}

.footer {
    width: 100%;
    height: 70px;
    line-height: 60px; 
    color: #ffffff;
    text-align: center;
}